body {
  width: 300px;
  background-color: royalblue;;
  margin-left: auto;
  margin-right: auto;
  box-shadow: orange 10px 30px 10px -40px inset, orange 0px 9px 50px 8px inset;
}

.app{
  position: relative;
  right:80%;
  background-color: royalblue;
  height: 100em;
  min-height: 40em;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5%;
  

}

.inputField {
  background-color: royalblue;
  position: absolute;
  left: 1em;
  top:0.3em;
  width: 240px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 15%;
  border-style:solid;
  border-width: 2px;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
  border-bottom-color: white;
  z-index: 9999999;
  box-shadow: orange 1px 2px 2px 3px inset, orange 3px 1px 3px 3px inset;
}

.inputField input{
    background-color: rgba(239, 239, 239, 0.72) ;
  display: block;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.5px;
  
}

.data {
  margin-left: auto;
  position: relative;
  left:1em;
  top:8em;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 240px;
  height: 450px;
  border-radius: 5%;
  background-color: royalblue;
  border-style:solid;
  border-width: 2px;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
  border-bottom-color: white;
  box-shadow: orange 1px 2px 5px 5px inset, orange 1px 1px 3px 2px inset;
}

p {
    color: 	black;
    text-align: center;
    margin-bottom: 2%;
  }

#newInputs{
  position: absolute;
  top: 5em;
  background-color: royalblue;
  width: 280px; 
  display: block;
  min-height: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  border-radius: 12%;
  border-style:solid;
  border-width: 2px;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
  border-bottom-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: orange 1px 1px 2px 2px inset, orange 0px 1px 3px 1px inset;
}

#newInputs input{
  background-color:  rgba(239, 239, 239, 0.72);
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.5px;
  border-style: dotted;
  
}

.data input{
  position: inherit;
  color: black;
  display: block;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 2.2em;
  width: 6em;
  left:3em;
}
.data p {
  position: inherit;
  margin: 1em;
  top: 2.7em;
  left:-4em;
}

.buttons{
  display: block;
  position: absolute;
  top: -5em;
  right:1em;
  justify-content: center;
  background-color: royalblue;
  width: 10em;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 180px;
  margin-top: 10em;
  height: 40px;
  cursor: pointer;
  background: transparent;
  background-color: rgba(239, 239, 239, 0.72);
  border: 2px solid dimgray;
  border-radius: 15%;
  box-shadow: orange 1px 1px 2px -4px inset, orange 0px 1px 5px 1px inset;
}

button:hover {
  background: rgba(239, 239, 239, 0.2);
}
  
#loader{
  background-color: royalblue;
  width: 25%;
  height: 26%;
  position:absolute;
  top: 9em;
  left:19em;
  display: flex;
  justify-content: center;
	align-items: center;
  z-index: 9999;
  
  border-radius: 5%;
}

.lds-spinner {
    color: orange;
    left:1em;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background:orange;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  